YT_Automation.json
{
  "name": "YT_Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1568,
        -256
      ],
      "id": "54eec188-5ced-4389-969c-47d5c4db0669",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Role\nYou are a sharp, culturally aware short-form copywriter who understands Gen Z humor, meme rhythm, and subtle internet tone. You think strategically before writing, testing multiple tonal variations internally and selecting the strongest hook.\n\n## Goal\nGenerate a single YouTube Shorts description based on:\n- Title: {{ $('Validate Script Structure').item.json.title }}\n- Story & Quote: {{ $('Validate Script Structure').item.json.script }}\n- Keywords: {{ $('Video Metadata').item.json['Video Keywords'] }}\n\n## Instructions\n\n1. Internally apply structured reasoning:\n   - Briefly consider multiple tonal approaches (subtle irony, restrained chaos, understated intensity, dry humor).\n   - Evaluate which one best matches the story’s emotional weight.\n   - Select the strongest version.\n   - Do not reveal this reasoning in the final output.\n\n2. Write one catchy YouTube Shorts description:\n   - Maximum 15 words.\n   - Must feel Gen Z / meme / brainrot energy, but not forced.\n   - Tone should subtly reflect the emotional core of the story.\n   - Avoid sounding promotional.\n   - Avoid directly repeating or overusing the provided keywords.\n   - Make it relatable and curiosity-inducing.\n\n3. Output rules:\n   - Output ONLY the description text.\n   - No formatting.\n   - No emojis.\n   - No hashtags.\n   - No explanations.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2272,
        656
      ],
      "id": "c0dc5d0d-e04d-4ec2-ba67-4c8120aefead",
      "name": "Description Agent",
      "retryOnFail": false,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd0cf110-e92c-4b91-a758-d478d6e3ad33",
              "name": "Video Title",
              "value": "={{ $('Validate Script Structure').item.json.title }}",
              "type": "string"
            },
            {
              "id": "baf07bd3-a43c-42de-8b9f-c5f1708c52c0",
              "name": "Keywords",
              "value": "={{ $('Video Metadata').item.json['Video Keywords'] }}",
              "type": "string"
            },
            {
              "id": "3561a2b2-a047-42d7-ba03-bf2f2097a604",
              "name": "Description",
              "value": "={{ $('Description Agent').item.json.output }}",
              "type": "string"
            },
            {
              "id": "52fd02c9-63fa-4ed3-95bf-8d28fd406ae6",
              "name": "Number of Images",
              "value": "={{ $('Video Metadata').item.json['Number of Images'] }}",
              "type": "number"
            },
            {
              "id": "0022e9ed-12e6-46c6-b9cc-eccf601ceccb",
              "name": "Time to Publish",
              "value": "={{ $('Video Metadata').item.json['Time to Publish'] }}",
              "type": "string"
            },
            {
              "id": "492efe6e-bcb0-4d55-ad8a-6577695bc82d",
              "name": "Script",
              "value": "={{ $('Validate Script Structure').item.json.script }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1664,
        2096
      ],
      "id": "73d79d93-a791-409d-add2-128639b2b808",
      "name": "Into Sheets"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      startTime: Date.now()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        -256
      ],
      "id": "d9be4496-cf0e-41f5-97c9-b18556fd9c6a",
      "name": "Timer Start"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1SokHOcZOiYfrz26BD6gPRJyYEt02RVk6AYvb2NbNlyc/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SokHOcZOiYfrz26BD6gPRJyYEt02RVk6AYvb2NbNlyc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "filename": "={{ $('Generate Safe Filename').item.json.filename }}",
            "Video Title": "={{ $('Into Sheets').item.json['Video Title'] }}",
            "Keywords": "={{ $('Into Sheets').item.json.Keywords }}",
            "Description": "={{ $('Into Sheets').item.json.Description }}",
            "Script": "={{ $('Into Sheets').item.json.Script }}",
            "Number of Images": "={{ $('Into Sheets').item.json['Number of Images'] }}",
            "Time to Publish": "={{ $('Into Sheets').item.json['Time to Publish'] }}",
            "Published?": "Not Published"
          },
          "matchingColumns": [
            "filename"
          ],
          "schema": [
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Number of Images",
              "displayName": "Number of Images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time to Publish",
              "displayName": "Time to Publish",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Published?",
              "displayName": "Published?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time Taken to Generate Video",
              "displayName": "Time Taken to Generate Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1488,
        2096
      ],
      "id": "0743baa7-97f4-4684-9c2d-012aaa0cc37b",
      "name": "Fill Video Metadata",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nTmJTgv7FbDjKF0T",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Role\nYou are a cinematic visual director specializing in highly detailed SDXL image prompts. You think visually and structurally before writing, internally exploring multiple composition variations and selecting the most powerful cinematic interpretations.\n\n## Goal\nGenerate exactly {{ $('Video Metadata').item.json['Number of Images'] }} image prompts based on:\n\nStory:\n{{ $('Validate Script Structure').item.json.script }}\n\n## Instructions\n\n1. Internally apply structured reasoning:\n   - Break the story into key visual moments.\n   - For each required image, explore multiple scene interpretations.\n   - Evaluate composition, symbolism, lighting contrast, and emotional weight.\n   - Select the most cinematic and visually strong version for each image.\n   - Do not reveal this reasoning in the final output.\n\n2. Visual direction requirements:\n   - Style must be stoic, Roman-inspired, philosophical, dramatic, timeless.\n   - Evoke Marcus Aurelius and Seneca.\n   - Highly descriptive and cinematic.\n   - Include environment details.\n   - Specify lighting direction.\n   - Include atmosphere such as mist dust wind smoke.\n   - Include camera framing such as wide shot close-up over-shoulder.\n   - Include lens type such as 35mm 85mm.\n   - Include texture detail such as weathered stone cracked marble aged bronze.\n   - Avoid quotation marks.\n   - Avoid commas.\n   - Avoid commentary.\n\n3. Output format rules:\n   - Output exactly:\n     Image Prompt: <prompt text>\n   - Repeat exactly {{ $('Video Metadata').item.json['Number of Images'] }} times.\n   - Do not number.\n   - Do not explain.\n   - Do not include any extra text.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -864,
        656
      ],
      "id": "4231daf5-84b2-4815-b151-08b37b9fe41f",
      "name": "Image Generation Prompts",
      "retryOnFail": false,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// // -------WORKING-----------\n// let raw = $('Image Generation Prompts').first()?.json?.output;\n\n// if (!raw || raw.trim().length === 0) {\n//   raw = `---\n// A lone Roman emperor stands at dawn on a marble balcony overlooking a silent empire bathed in golden light. Soft mist rises from distant hills as he reflects in solitude wearing simple armor weathered by time\n// ---\n// An aged philosopher walks through a quiet stone courtyard at twilight illuminated by oil lamps. Long shadows stretch across ancient pillars as he contemplates resilience and inner discipline\n// ---;`\n// // A storm gathers over a rugged cliffside where a solitary figure faces the roaring sea without fear. Dark clouds part slightly as a narrow beam of light reveals calm determination in his posture\n// // ---`;\n// }\n\n// const prompts = raw\n//   .split('---')\n//   .map(p => p.trim())\n//   .filter(p => p.length > 0);\n\n// return prompts.map((p, i) => ({\n//   json: {\n//     index: i + 1,\n//     prompt: p\n//   }\n// }));\n\n\nconst raw = $input.first().json.output;\n\nif (!raw) return [];\n\n// Normalize newlines and remove weird spacing\nconst cleaned = raw\n  .replace(/\\r/g, '')\n  .replace(/\\n+/g, '\\n')\n  .trim();\n\n// Extract ONLY parts that follow \"Image Prompt:\"\nconst matches = cleaned.match(/Image Prompt:\\s*([\\s\\S]*?)(?=\\n\\s*Image Prompt:|$)/gi);\n\nif (!matches) return [];\n\nconst prompts = matches.map((block, index) => {\n  return {\n    json: {\n      index: index + 1,\n      prompt: block.replace(/Image Prompt:\\s*/i, '').trim()\n    }\n  };\n});\n\nreturn prompts;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        656
      ],
      "id": "40883112-71d8-4f81-86a5-34ec7a758f38",
      "name": "Separate Image Prompts"
    },
    {
      "parameters": {
        "jsCode": "const inputs = $input.all();\nconst result = [];\n\nfor (const item of inputs) {\n  const json = item.json;\n\n  for (const promptId in json) {\n    const data = json[promptId];\n    const filename = data?.outputs?.['9']?.images?.[0]?.filename;\n\n    if (filename) {\n      result.push({\n        ...item.json, // PRESERVE original fields like prompt_id\n        prompt_id: promptId,\n        filename: filename,\n        image_url: `http://host.docker.internal:8188/view?filename=${encodeURIComponent(filename)}&type=output`\n      });\n    }\n  }\n}\n\nif (result.length === 0) {\n  // VERY IMPORTANT: return original items if nothing found\n  return inputs;\n}\n\nreturn result.map(obj => ({ json: obj }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        1136
      ],
      "id": "006e9c34-c99f-4aad-b255-d0789633bd39",
      "name": "Clean Image URLs",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8188/history/{{ $('Generate Scene Images').item.json.body.prompt_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1760,
        1136
      ],
      "id": "af84e0c2-abe9-4ede-a930-0450b93cd0ef",
      "name": "Get Image Info"
    },
    {
      "parameters": {
        "jsCode": "// Total prompts generated (each item = one prompt)\nconst actualCount = $input.all().length;\n\n// Expected number from Video Information node\nconst expectedCount = $('Video Metadata').first().json['Number of Images'];\n\nif (typeof expectedCount !== 'number') {\n  throw new Error(\"Number of Images is not defined or not a number in Video Information node.\");\n}\n\nif (actualCount !== expectedCount) {\n  throw new Error(\n    `Prompt count mismatch: expected ${expectedCount} but received ${actualCount}. Workflow stopped.`\n  );\n}\n\n// If everything matches, pass items forward unchanged\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        656
      ],
      "id": "aede65f7-334b-48d6-a78d-411766e84b75",
      "name": "Validate: Img Prompts = No. of Images",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a61f2ef5-b45e-4d31-8ad6-7d379c12a023",
              "leftValue": "={{ $('Image Generation Prompts').item.json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -544,
        656
      ],
      "id": "6478ef2e-8e41-4690-ab67-c85b7a81a733",
      "name": "Handling Image Prompts Generation Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whisper:9000/asr",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"audio_file\": \"/home/node/.n8n-files/YT_Automation/Media/Voiceover/{{ $('Generate Safe Filename').first().json.filename }}.mp3\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1872,
        1760
      ],
      "id": "1afa8946-2afe-4a7d-8d39-e7de4ed33823",
      "name": "Transcribe Voiceover",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "command": "=/usr/bin/ffmpeg \\\n-i /home/node/.n8n-files/YT_Automation/Media/Videos/{{ $('Generate Safe Filename').first().json.filename }}_after_filters.mp4 \\\n-vf \"ass=/home/node/.n8n-files/YT_Automation/Media/Subtitles/{{ $('Generate Safe Filename').first().json.filename }}.ass:fontsdir=/home/node/.n8n-files/YT_Automation/Media/Fonts\" \\\n-c:v libx264 \\\n-pix_fmt yuv420p \\\n-c:a copy \\\n-y /home/node/.n8n-files/YT_Automation/Media/Final_Renders/{{ $('Generate Safe Filename').first().json.filename }}.mp4\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -704,
        1760
      ],
      "id": "189670f5-d5eb-4cce-bebd-5efaead32044",
      "name": "Burn Subtitles"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Video Metadata').item.json['Subtitle Type'] }}",
                    "rightValue": "word-by-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9124d875-c427-43db-a270-4e656bc91d2b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3751dc0a-fcab-4598-956e-c9152012b242",
                    "leftValue": "={{ $('Video Metadata').item.json['Subtitle Type'] }}",
                    "rightValue": "phrase-by-phrase",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1504,
        1760
      ],
      "id": "df0d5df5-d172-4b70-b5d1-cfbc6c327a38",
      "name": "Select Subtitle Style"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list",
          "cachedResultName": "llama3.2:latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3280,
        848
      ],
      "id": "21d88a24-abe6-4df3-a696-df105c913b10",
      "name": "LLM – Script Generator",
      "credentials": {
        "openAiApi": {
          "id": "6r23Cbl9kYXbEbV4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list",
          "cachedResultName": "llama3.2:latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2272,
        848
      ],
      "id": "e00db15d-ad16-402b-b0e4-7a700dc3dda2",
      "name": "LLM – Description Generator",
      "credentials": {
        "openAiApi": {
          "id": "6r23Cbl9kYXbEbV4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list",
          "cachedResultName": "llama3.2:latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -864,
        848
      ],
      "id": "9e24535b-f42a-4cca-bff3-37c89dd48af9",
      "name": "LLM – Image Prompt Generator",
      "credentials": {
        "openAiApi": {
          "id": "6r23Cbl9kYXbEbV4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ ($('Video Metadata').item.json['Number of Images'] * 35) + 10 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1936,
        1136
      ],
      "id": "f88d4142-1002-480d-b3ca-df35592f37e4",
      "name": "Wait – Image Generation Cooldown",
      "webhookId": "50f3cfa3-de11-418f-81ba-60c4d45e2405"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1232,
        1136
      ],
      "id": "d179aa12-7a36-457f-ac0b-fdfed25eece2",
      "name": "Wait – Safety Delay Before Render",
      "webhookId": "d0ac90c5-35d3-4e78-9e2b-a38d4f81b163"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:2375/v1.44/containers/comfyui/start",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2464,
        32
      ],
      "id": "12d35752-3c34-4de2-88f1-ecc4748b98ac",
      "name": "Docker - Start ComfyUI",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:2375/containers/kokoro-tts-cpu/start",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1536,
        32
      ],
      "id": "17f573a6-4224-4d15-b378-f913e7f68f22",
      "name": "Docker - Start Kokoro",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:2375/containers/ollama/start",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1360,
        32
      ],
      "id": "ce6d7b39-1fb3-40b5-8f03-0f7345ffc93f",
      "name": "Docker - Start Ollama",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:2375/v1.44/containers/whisper/start",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -624,
        32
      ],
      "id": "a96d6339-7947-4eb7-9ef3-a4ad4755498c",
      "name": "Docker - Start Whisper",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:2375/containers/ollama/stop",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        656
      ],
      "id": "9a5f2d21-cae1-437d-9723-2d703ff30fed",
      "name": "Docker - Stop Ollama"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:2375/containers/kokoro-tts-cpu/stop",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1024,
        1424
      ],
      "id": "5436d9fd-3497-4275-b749-3bae697303ec",
      "name": "Docker - Stop Kokoro",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:2375/v1.44/containers/whisper/stop",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -880,
        1760
      ],
      "id": "06a86178-16b8-4165-ae8e-00d320116b10",
      "name": "Docker - Stop Whisper"
    },
    {
      "parameters": {
        "jsCode": "const rawTitle = $input.first().json['title']\n\nconst cleanTitle = rawTitle.toLowerCase().replace(/['\"]/g, '').replace(/[^a-z0-9]+/g, '_').replace(/^_+|_+$/g, '')\n\nreturn{\n  filename: `${cleanTitle}`\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2432,
        656
      ],
      "id": "347ba298-cc64-4280-8e92-e50b3914274f",
      "name": "Generate Safe Filename"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Role\nYou are a disciplined philosophical writer specializing in short-form stoic literature with an ancient Rome atmosphere. You think carefully before writing, internally exploring multiple thematic directions and selecting the strongest one before producing the final output.\n\n## Goal\nGenerate structured JSON output that matches the required schema:\n\n```json\n{\n  \"title\": \"string\",\n  \"script\": \"string\"\n}\n```\n\nThe output must contain exactly one item in the prompts array.\n\n## Instructions\n\n1. Internally apply structured reasoning:\n   - First, consider multiple possible themes (self-control, delayed gratification, resilience, solitude, consistency, emotional restraint, long-term thinking, responsibility, inner strength).\n   - Briefly evaluate which theme would produce the most powerful short-form piece.\n   - Select the strongest option.\n   - Do not reveal this reasoning in the final output.\n\n2. Write a single original short-form piece inspired by stoicism, discipline, and self-mastery with an ancient Rome theme.\n3. Structure the content as:\n   - \"title\": A calm, impactful title (maximum 5 words) that sounds like a principle, rule, or maxim.\n   - \"script\": \n       - Begin with a very short narrative hook (1–2 sentences) written like a quiet observation, journal entry, or internal resolve.\n       - Follow with one sharp, grounded, or unsettling line that reflects restraint, endurance, or clarity under pressure.\n       - Entire story must be under 45 words total.\n\n4. Language requirements:\n   - Simple, controlled, intentional wording.\n   - Calm, disciplined, reflective, slightly severe tone.\n   - Clear modern English.\n   - Quote-worthy and timeless.\n\n5. Output rules:\n   - Return valid JSON only.\n   - No markdown.\n   - No explanation.\n   - No extra text outside the JSON structure.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3280,
        656
      ],
      "id": "d99bd8d6-d034-4a47-a81c-1a5cd4516596",
      "name": "Generate Script",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c358f294-3026-41a8-974a-d5db5b227578",
              "leftValue": "={{ $('Validate Script Structure').item.json.error }}",
              "rightValue": "Output format corrector",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2624,
        656
      ],
      "id": "fb33c676-3eb2-470b-9fe0-b5a39b7f3639",
      "name": "Fix Script JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4760f68e-4539-4f13-bb52-c9a1250d2925",
              "leftValue": "={{ $('Generate Script').item.json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2992,
        656
      ],
      "id": "21920784-374d-49a2-82a5-f2743c2faf84",
      "name": "Handle Script Errors"
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($input.first().json.output);\n\nreturn [\n  {\n    json: {\n      title: parsed.title,\n      script: parsed.script\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        656
      ],
      "id": "3c6059ca-6228-4734-a593-4075f004f253",
      "name": "Validate Script Structure",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"prompt\": {\n    \"6\": {\n      \"inputs\": {\n        \"text\": \"{{ $('Separate Image Prompts').item.json.prompt }}\",\n        \"clip\": [\"30\", 1]\n      },\n      \"class_type\": \"CLIPTextEncode\"\n    },\n    \"8\": {\n      \"inputs\": {\n        \"samples\": [\"31\", 0],\n        \"vae\": [\"30\", 2]\n      },\n      \"class_type\": \"VAEDecode\"\n    },\n    \"9\": {\n      \"inputs\": {\n        \"filename_prefix\": \"ComfyUI\",\n        \"images\": [\"8\", 0]\n      },\n      \"class_type\": \"SaveImage\"\n    },\n    \"27\": {\n      \"inputs\": {\n        \"width\": 900,\n        \"height\": 1600,\n        \"batch_size\": 1\n      },\n      \"class_type\": \"EmptyLatentImage\"\n    },\n    \"30\": {\n      \"inputs\": {\n        \"ckpt_name\": \"perfectdeliberate_v5SD15.safetensors\"\n      },\n      \"class_type\": \"CheckpointLoaderSimple\"\n    },\n    \"31\": {\n      \"inputs\": {\n        \"seed\": {{ Math.floor(Math.random() * 1000000000000000) }},\n        \"steps\": 30,\n        \"cfg\": 7,\n        \"sampler_name\": \"euler\",\n        \"scheduler\": \"simple\",\n        \"denoise\": 1,\n        \"model\": [\"30\", 0],\n        \"positive\": [\"6\", 0],\n        \"negative\": [\"33\", 0],\n        \"latent_image\": [\"27\", 0]\n      },\n      \"class_type\": \"KSampler\"\n    },\n    \"33\": {\n      \"inputs\": {\n        \"text\": \"\",\n        \"clip\": [\"30\", 1]\n      },\n      \"class_type\": \"CLIPTextEncode\"\n    }\n  }\n}\n",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2320,
        1136
      ],
      "id": "67ed343e-03cc-45dd-8b93-1c0dd97a57ec",
      "name": "Generate Scene Images",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('Clean Image URLs').item.json.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1056,
        1136
      ],
      "id": "6346a804-c634-4b17-b23c-75f5ba8b34ca",
      "name": "Fetch Generated Images"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/YT_Automation/Media/Images/{{ $('Generate Safe Filename').first().json.filename }}_{{ $itemIndex + 1}}.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -864,
        1136
      ],
      "id": "7bdee364-1637-498a-a769-be5cf9c8131c",
      "name": "Save Images to Disk"
    },
    {
      "parameters": {
        "jsCode": "// How many cleaned image URL items were produced\nconst actualCount = $input.all().length;\n\n// Expected image count from Video Information node\nconst expectedCount = $('Video Metadata').first().json['Number of Images'];\n\nif (typeof expectedCount !== 'number') {\n  throw new Error(\"Number of Images is not defined properly in Video Information.\");\n}\n\nif (actualCount !== expectedCount) {\n  throw new Error(\n    `Image generation mismatch. Expected ${expectedCount} images but received ${actualCount} cleaned image URLs. Stopping workflow.`\n  );\n}\n\n// If everything matches, pass items forward unchanged\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        1136
      ],
      "id": "87625888-ffe4-4fc0-bd10-a08a4cc7703f",
      "name": "Validate Image Count"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kokoro:8880/v1/audio/speech",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"kokoro\",\n  \"input\": \"{{ $('Validate Script Structure').item.json.script }}\",\n  \"voice\": \"{{ $('Video Metadata').item.json['Voice Model'] }}\"\n} ",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1984,
        1424
      ],
      "id": "99ae491a-dd48-4e8c-bc53-92c3774db510",
      "name": "Generate Voiceover Audio",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:2375/v1.44/containers/comfyui/stop",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -672,
        1136
      ],
      "id": "6ee953b1-619c-4d49-9e2f-213127d00535",
      "name": "Docker - Stop ComfyUI",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/YT_Automation/Media/Voiceover/{{ $('Generate Safe Filename').first().json.filename }}.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1616,
        1424
      ],
      "id": "e6a02f4c-8d0d-4eb7-bb93-b8048dec2bea",
      "name": "Save Voiceover to Disk"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a116c042-ea6c-49d2-bea8-43317aea6909",
              "leftValue": "={{ $('Generate Voiceover Audio').item.json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1792,
        1424
      ],
      "id": "b985b6f7-e706-4f6f-b565-d9783d27bda8",
      "name": "Retry Flow on Failure"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a116c042-ea6c-49d2-bea8-43317aea6909",
              "leftValue": "={{ $('Generate Scene Images').item.json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2128,
        1136
      ],
      "id": "f4b620ec-5f4e-4c79-954c-efafce5ae3bd",
      "name": "Restart Flow on Failure"
    },
    {
      "parameters": {
        "jsCode": "const duration = parseFloat($input.first().json.stdout);\n\nconst ceiled = Math.ceil(duration);\nconst divided = ceiled / $('Video Metadata').first().json['Number of Images'];\n\nreturn [\n  {\n    json: {\n      original: duration,\n      ceiled,\n      result: divided\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        1424
      ],
      "id": "aa7177c9-9894-4a34-a704-4e36a60f17ca",
      "name": "Calculate Image Duration"
    },
    {
      "parameters": {
        "command": "=/usr/bin/ffmpeg \\\n-framerate {{ 1 / $('Calculate Image Duration').item.json.result }} \\\n-i \"/home/node/.n8n-files/YT_Automation/Media/Images/{{ $('Generate Safe Filename').first().json.filename }}_%d.png\" \\\n-c:v libx264 \\\n-pix_fmt yuv420p \\\n-r 30 \\\n-y /home/node/.n8n-files/YT_Automation/Media/Videos/{{ $('Generate Safe Filename').first().json.filename }}_no_audio.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2448,
        1760
      ],
      "id": "ceb5bdc6-fdfb-4c72-a53a-4dd316366be0",
      "name": "Create Base Video (Images Only)"
    },
    {
      "parameters": {
        "command": "=/usr/bin/ffmpeg \\\n-i /home/node/.n8n-files/YT_Automation/Media/Videos/{{ $('Generate Safe Filename').first().json.filename }}_no_audio.mp4 \\\n-i /home/node/.n8n-files/YT_Automation/Media/Voiceover/{{ $('Generate Safe Filename').first().json.filename }}.mp3 \\\n-c:v copy \\\n-c:a aac \\\n-y /home/node/.n8n-files/YT_Automation/Media/Videos/{{ $('Generate Safe Filename').first().json.filename }}_with_audio.mp4\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2272,
        1760
      ],
      "id": "5d1b4c3c-5594-4490-a8bc-2d1ff33c0e1a",
      "name": "Add Audio to Video"
    },
    {
      "parameters": {
        "command": "=ffprobe -i \"/home/node/.n8n-files/YT_Automation/Media/Voiceover/{{ $('Generate Safe Filename').first().json.filename }}.mp3\" -show_entries format=duration -v quiet -of csv=p=0\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1424,
        1424
      ],
      "id": "01009d4d-56d1-4c36-83bc-dc4331e5fdd9",
      "name": "Get Final Video Duration"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fc59ab0-bcf6-4560-b0dd-3de7c2e05398",
              "name": "Video Keywords",
              "value": "stoicism, stoic, winner, discipline, ancient rome, roman architecture",
              "type": "string"
            },
            {
              "id": "4d061e83-0e0c-400e-bac1-cfd5d3fdd596",
              "name": "Number of Images",
              "value": 1,
              "type": "number"
            },
            {
              "id": "1b8601e6-e1f3-4353-b293-c0cfd8a3e58b",
              "name": "Time to Publish",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "6b40b86b-3906-43c5-aa31-ebb5f8fc6417",
              "name": "Theme",
              "value": "Stoicism",
              "type": "string"
            },
            {
              "id": "ece67af2-82d8-4b82-b03d-f0eab4ae2f86",
              "name": "Subtitle Type",
              "value": "phrase-by-phrase",
              "type": "string"
            },
            {
              "id": "ba594098-e38f-4ac6-9300-bf22b54069fc",
              "name": "Font",
              "value": "racing_sans_one",
              "type": "string"
            },
            {
              "id": "c65df031-038a-45cb-a948-8148138346ae",
              "name": "Voice Model",
              "value": "am_michael",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1872,
        368
      ],
      "id": "10e88019-4423-4e0e-addc-80d756ccb5e1",
      "name": "Video Metadata"
    },
    {
      "parameters": {
        "jsCode": "// function toAssTime(seconds) {\n//   const h = Math.floor(seconds / 3600);\n//   const m = Math.floor((seconds % 3600) / 60);\n//   const s = (seconds % 60).toFixed(2);\n//   return `${h}:${String(m).padStart(2, \"0\")}:${String(s).padStart(5, \"0\")}`;\n// }\n\n// const segments = $json.segments;\n\n// let ass = `[Script Info]\n// ScriptType: v4.00+\n// Collisions: Normal\n// PlayResX: 1080\n// PlayResY: 1920\n// ScaledBorderAndShadow: yes\n\n// [V4+ Styles]\n// Format: Name,Fontname,Fontsize,PrimaryColour,SecondaryColour,OutlineColour,BackColour,Bold,Italic,BorderStyle,Outline,Shadow,Alignment,MarginL,MarginR,MarginV,Encoding\n// Style: Default,Neusa Bold,110,&H00FFFFFF,&H000000FF,&H00000000,&H64000000,1,0,1,8,2,2,100,100,250,1\n\n// [Events]\n// Format: Layer,Start,End,Style,Name,MarginL,MarginR,MarginV,Effect,Text\n// `;\n\n// for (const segment of segments) {\n//   if (!segment.words) continue;\n\n//   for (const w of segment.words) {\n//     const start = toAssTime(w.start);\n//     const end = toAssTime(w.end);\n\n//     const cleanWord = w.word.trim().toUpperCase();\n\n//     ass += `Dialogue: 0,${start},${end},Default,,0,0,0,,${cleanWord}\\n`;\n//   }\n// }\n\n// return [\n//   {\n//     binary: {\n//       data: {\n//         data: Buffer.from(ass).toString(\"base64\"),\n//         mimeType: \"text/plain\",\n//         fileName: \"subtitles_word.ass\",\n//       },\n//     },\n//   },\n// ];\n\n\nfunction toAssTime(seconds) {\n  const h = Math.floor(seconds / 3600);\n  const m = Math.floor((seconds % 3600) / 60);\n  const s = (seconds % 60).toFixed(2);\n  return `${h}:${String(m).padStart(2,'0')}:${String(s).padStart(5,'0')}`;\n}\n\n// 🔑 Explicit data sources (no guessing, no magic)\nconst segments = $items(\"Transcribe Voiceover\")[0].json.segments;\nconst font = $items(\"Define Subtitle Typography\")[0].json.subtitleFont;\n\n// Defensive checks\nif (!segments || !Array.isArray(segments)) {\n  throw new Error(\"segments missing or invalid from Transcribe Voiceover\");\n}\n\nif (!font) {\n  throw new Error(\"subtitleFont missing from Define Subtitle Typography\");\n}\n\nlet ass = `[Script Info]\nScriptType: v4.00+\nCollisions: Normal\nPlayResX: 1080\nPlayResY: 1920\nScaledBorderAndShadow: yes\n\n[V4+ Styles]\nFormat: Name,Fontname,Fontsize,PrimaryColour,SecondaryColour,OutlineColour,BackColour,Bold,Italic,BorderStyle,Outline,Shadow,Alignment,MarginL,MarginR,MarginV,Encoding\nStyle: Default,${font.name},${font.sizeWord},&H00FFFFFF,&H000000FF,&H00000000,&H64000000,${font.bold},${font.italic},1,${font.outlineWord},2,${font.alignment},100,100,250,1\n\n[Events]\nFormat: Layer,Start,End,Style,Name,MarginL,MarginR,MarginV,Effect,Text\n`;\n\nfor (const segment of segments) {\n  if (!segment.words) continue;\n\n  for (const w of segment.words) {\n    const start = toAssTime(w.start);\n    const end = toAssTime(w.end);\n    const cleanWord = w.word.trim().toUpperCase();\n\n    ass += `Dialogue: 0,${start},${end},Default,,0,0,0,,${cleanWord}\\n`;\n  }\n}\n\nreturn [{\n  binary: {\n    data: {\n      data: Buffer.from(ass).toString('base64'),\n      mimeType: 'text/plain',\n      fileName: 'subtitles_word.ass'\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        1664
      ],
      "id": "d501a7c6-c812-4b71-b8b8-f249bb570955",
      "name": "Generate Subtitles (Word by Word)"
    },
    {
      "parameters": {
        "jsCode": "// function toAssTime(seconds) {\n//   const h = Math.floor(seconds / 3600);\n//   const m = Math.floor((seconds % 3600) / 60);\n//   const s = (seconds % 60).toFixed(2);\n//   return `${h}:${String(m).padStart(2,'0')}:${String(s).padStart(5,'0')}`;\n// }\n\n// const segments = $json.segments;\n// const font = $json.subtitleFont;\n\n// if (!font) {\n//   throw new Error(\"subtitleFont missing. Define Subtitle Typography node not connected.\");\n// }\n\n// let ass = `[Script Info]\n// ScriptType: v4.00+\n// Collisions: Normal\n// PlayResX: 1080\n// PlayResY: 1920\n\n// [V4+ Styles]\n// Format: Name,Fontname,Fontsize,PrimaryColour,SecondaryColour,OutlineColour,BackColour,Bold,Italic,BorderStyle,Outline,Shadow,Alignment,MarginL,MarginR,MarginV,Encoding\n// Style: Default,${font.name},${font.sizePhrase},&H00FFFFFF,&H000000FF,&H00000000,&H00000000,${font.bold},${font.italic},1,${font.outlinePhrase},0,${font.alignment},50,50,180,1\n\n// [Events]\n// Format: Layer,Start,End,Style,Name,MarginL,MarginR,MarginV,Effect,Text\n// `;\n\n// for (const segment of segments) {\n//   const start = toAssTime(segment.start);\n//   const end = toAssTime(segment.end);\n//   const cleanText = segment.text.trim().replace(/\\n/g, ' ');\n\n//   ass += `Dialogue: 0,${start},${end},Default,,0,0,0,,${cleanText}\\n`;\n// }\n\n// return [{\n//   binary: {\n//     data: {\n//       data: Buffer.from(ass).toString('base64'),\n//       mimeType: 'text/plain',\n//       fileName: 'subtitles_phrase.ass'\n//     }\n//   }\n// }];\n\n\nfunction toAssTime(seconds) {\n  const h = Math.floor(seconds / 3600);\n  const m = Math.floor((seconds % 3600) / 60);\n  const s = (seconds % 60).toFixed(2);\n  return `${h}:${String(m).padStart(2,'0')}:${String(s).padStart(5,'0')}`;\n}\n\n// 🔑 Explicit data sources (same rule everywhere)\nconst segments = $items(\"Transcribe Voiceover\")[0].json.segments;\nconst font = $items(\"Define Subtitle Typography\")[0].json.subtitleFont;\n\n// Defensive checks\nif (!segments || !Array.isArray(segments)) {\n  throw new Error(\"segments missing or invalid from Transcribe Voiceover\");\n}\n\nif (!font) {\n  throw new Error(\"subtitleFont missing from Define Subtitle Typography\");\n}\n\nlet ass = `[Script Info]\nScriptType: v4.00+\nCollisions: Normal\nPlayResX: 1080\nPlayResY: 1920\n\n[V4+ Styles]\nFormat: Name,Fontname,Fontsize,PrimaryColour,SecondaryColour,OutlineColour,BackColour,Bold,Italic,BorderStyle,Outline,Shadow,Alignment,MarginL,MarginR,MarginV,Encoding\nStyle: Default,${font.name},${font.sizePhrase},&H00FFFFFF,&H000000FF,&H00000000,&H00000000,${font.bold},${font.italic},1,${font.outlinePhrase},0,${font.alignment},50,50,180,1\n\n[Events]\nFormat: Layer,Start,End,Style,Name,MarginL,MarginR,MarginV,Effect,Text\n`;\n\nfor (const segment of segments) {\n  const start = toAssTime(segment.start);\n  const end = toAssTime(segment.end);\n  const cleanText = segment.text.trim().replace(/\\n/g, ' ');\n\n  ass += `Dialogue: 0,${start},${end},Default,,0,0,0,,${cleanText}\\n`;\n}\n\nreturn [{\n  binary: {\n    data: {\n      data: Buffer.from(ass).toString('base64'),\n      mimeType: 'text/plain',\n      fileName: 'subtitles_phrase.ass'\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        1840
      ],
      "id": "516ad8f5-c642-4d1f-acfe-6c2abccd5c7e",
      "name": "Generate Subtitles (Phrase by Phrase)"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/YT_Automation/Media/Subtitles/{{ $('Generate Safe Filename').first().json.filename }}.ass",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1072,
        1760
      ],
      "id": "29001686-2adc-4999-89e0-3786f93c0e34",
      "name": "Save Subtitles to Disk"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/YT_Automation/Media/Final_Renders/{{ $('Generate Safe Filename').first().json.filename }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -528,
        1760
      ],
      "id": "271d3657-d14e-41c0-8dda-decd40082a26",
      "name": "Preview Final Render"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4760f68e-4539-4f13-bb52-c9a1250d2925",
              "leftValue": "={{ $('Description Agent').item.json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1968,
        656
      ],
      "id": "77b44d81-e489-4ab5-a110-1ff627c4d536",
      "name": "Retry – Description Generation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "311ca53f-e76c-4dad-83b6-752e13689a37",
              "leftValue": "={{ $('Validate: Img Prompts = No. of Images').item.json.error }}",
              "rightValue": "Validate: Img Prompts = No. of Images",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        656
      ],
      "id": "28b939a1-810e-4924-b11e-035cbdfdfe0a",
      "name": "Retry – Prompt Count Mismatch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"prompt\": {\n    \"6\": {\n      \"inputs\": {\n        \"text\": \"fruits\",\n        \"clip\": [\"30\", 1]\n      },\n      \"class_type\": \"CLIPTextEncode\"\n    },\n    \"8\": {\n      \"inputs\": {\n        \"samples\": [\"31\", 0],\n        \"vae\": [\"30\", 2]\n      },\n      \"class_type\": \"VAEDecode\"\n    },\n    \"9\": {\n      \"inputs\": {\n        \"filename_prefix\": \"ComfyUI\",\n        \"images\": [\"8\", 0]\n      },\n      \"class_type\": \"SaveImage\"\n    },\n    \"27\": {\n      \"inputs\": {\n        \"width\": 100,\n        \"height\": 100,\n        \"batch_size\": 1\n      },\n      \"class_type\": \"EmptyLatentImage\"\n    },\n    \"30\": {\n      \"inputs\": {\n        \"ckpt_name\": \"perfectdeliberate_v5SD15.safetensors\"\n      },\n      \"class_type\": \"CheckpointLoaderSimple\"\n    },\n    \"31\": {\n      \"inputs\": {\n        \"seed\": 400603400457350,\n        \"steps\": 30,\n        \"cfg\": 7,\n        \"sampler_name\": \"euler\",\n        \"scheduler\": \"simple\",\n        \"denoise\": 1,\n        \"model\": [\"30\", 0],\n        \"positive\": [\"6\", 0],\n        \"negative\": [\"33\", 0],\n        \"latent_image\": [\"27\", 0]\n      },\n      \"class_type\": \"KSampler\"\n    },\n    \"33\": {\n      \"inputs\": {\n        \"text\": \"\",\n        \"clip\": [\"30\", 1]\n      },\n      \"class_type\": \"CLIPTextEncode\"\n    }\n  }\n}\n",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1712,
        32
      ],
      "id": "0bc44454-8102-4133-9035-a7524875b066",
      "name": "Warm-Up – ComfyUI"
    },
    {
      "parameters": {
        "url": "http://comfyui:8188/object_info",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1888,
        32
      ],
      "id": "28c13acb-c9c7-4c52-90a3-a25fb44f1bbc",
      "name": "Wait – ComfyUI Model Ready",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "command": "=/usr/bin/ffmpeg \\\n-i /home/node/.n8n-files/YT_Automation/Media/Videos/{{ $('Generate Safe Filename').first().json.filename }}_with_audio.mp4 \\\n-filter_complex \"\\\nzoompan=z='min(zoom+0.0007,1.05)':d=1:fps=30:s=1080x1920,\\\neq=contrast=1.08:saturation=1.1,\\\nunsharp=5:5:0.8:3:3:0.4,\\\nvignette=PI/5,\\\nfade=t=in:st=0:d=0.5\\\n\" \\\n-c:v libx264 \\\n-pix_fmt yuv420p \\\n-c:a copy \\\n-r 30 \\\n-y /home/node/.n8n-files/YT_Automation/Media/Videos/{{ $('Generate Safe Filename').first().json.filename }}_after_filters.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2080,
        1760
      ],
      "id": "ca47f180-c436-4601-896f-024cfbaedd8d",
      "name": "Apply Cinematic Effects"
    },
    {
      "parameters": {
        "jsCode": "const videoMeta = $items(\"Video Metadata\")[0].json;\n\nconst fontFamilyRaw = videoMeta[\"Font\"];\n\nif (!fontFamilyRaw) {\n  throw new Error(\"Missing Font in Video Metadata\");\n}\n\n// Normalize font family:\n// - underscores → spaces\n// - Title Case per word\nconst fontFamilyNormalized = fontFamilyRaw\n  .replace(/_/g, \" \")\n  .split(\" \")\n  .map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase())\n  .join(\" \");\n\n// Validate ASS-friendly convention (multi-word allowed)\nconst ASS_FONT_REGEX = /^([A-Z][a-z]+)(\\s[A-Z][a-z]+)*$/;\n\nif (!ASS_FONT_REGEX.test(fontFamilyNormalized)) {\n  throw new Error(\n    `Invalid Font name \"${fontFamilyRaw}\". Expected capitalized words (e.g. \"Montserrat\", \"Bebas Neue\")`\n  );\n}\n\n// Output consumed by subtitle generators\nreturn [{\n  json: {\n    subtitleFont: {\n      family: fontFamilyNormalized,\n      name: fontFamilyNormalized,\n\n      // visual constants (single-style system)\n      bold: 0,\n      italic: 0,\n      sizeWord: 110,\n      sizePhrase: 110,\n      outlineWord: 8,\n      outlinePhrase: 3,\n      alignment: 2\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        1760
      ],
      "id": "6899d9ee-82a9-44f4-b49a-d02f205e1ec0",
      "name": "Define Subtitle Typography"
    },
    {
      "parameters": {
        "jsCode": "const videoMeta = $items(\"Video Metadata\")[0].json;\n\nconst rawFont = videoMeta[\"Font\"];\nif (!rawFont) {\n  throw new Error(\"Font missing in Video Metadata\");\n}\n\nreturn [{\n  json: {\n    ...videoMeta,\n    _fontCheck: {\n      raw: rawFont,\n      filePath: `/home/node/.n8n-files/YT_Automation/Media/Fonts/${rawFont}.ttf`\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        368
      ],
      "id": "febbfa27-852c-4cff-9cc0-4422355f7d65",
      "name": "Prepare Font File Path"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Prepare Font File Path').item.json._fontCheck.filePath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1520,
        368
      ],
      "id": "e0ed8b32-3328-428a-8993-c5ce1b6091df",
      "name": "Check Font Exists",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0610f77f-b520-4f5d-886d-04c6bc89b56b",
              "leftValue": "={{ $('Check Font Exists').item.json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1344,
        368
      ],
      "id": "f0b066e5-4c41-4ddd-bb09-7f322a2fab68",
      "name": "Handle Font not Found Error"
    },
    {
      "parameters": {
        "errorMessage": "=Font \"{{ $('Video Metadata').item.json.Font }}\" not found in Font Library"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1168,
        368
      ],
      "id": "e71e079e-3a0f-4c62-8abe-42695a53f809",
      "name": "Font Doesn't Exist"
    },
    {
      "parameters": {
        "content": "# START",
        "height": 240,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1616,
        -320
      ],
      "typeVersion": 1,
      "id": "cb5e9bef-8abe-4003-962b-623340a0fd28",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# START SERVERS AND WARM-UP MODELS",
        "height": 256,
        "width": 2064
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2528,
        -48
      ],
      "typeVersion": 1,
      "id": "8018bfdc-2d22-42f8-abf0-7b57887aceb2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# VIDEO METADATA VALIDATIONS",
        "height": 304,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1904,
        240
      ],
      "typeVersion": 1,
      "id": "759d90b4-62bc-4f21-9d7f-0f273e2ccf81",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## FONT VALIDATION",
        "height": 224,
        "width": 704,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1744,
        304
      ],
      "typeVersion": 1,
      "id": "93db9729-475f-4ac2-8913-aad144100c25",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# PROMPT GENERATION PIPELINE",
        "height": 432,
        "width": 3712
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3328,
        576
      ],
      "typeVersion": 1,
      "id": "0da5203f-23b5-4e11-be59-3f6b808fcabc",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# IMAGE GENERATION PIPELINE",
        "height": 272,
        "width": 1872
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2384,
        1040
      ],
      "typeVersion": 1,
      "id": "33c6db3d-4274-427a-9c05-4b8347907651",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# VOICEOVER GENERATION PIPELINE",
        "height": 256,
        "width": 1184
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2048,
        1344
      ],
      "typeVersion": 1,
      "id": "2c97ecfc-8f44-4a3d-b9c9-4b4c1a3d0cfd",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# VIDEO GENERATION AND SUBTITLE PIPELINE",
        "height": 368,
        "width": 2096
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2480,
        1632
      ],
      "typeVersion": 1,
      "id": "84b14868-3003-410d-b14f-b0c18d19276c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# TRACKING",
        "height": 240,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1696,
        2032
      ],
      "typeVersion": 1,
      "id": "71f2af5d-bc97-44ab-b944-b145b37bceb6",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/tags",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1184,
        32
      ],
      "id": "c03158d6-a3aa-4ddd-8cb2-c8e87e39a5f3",
      "name": "Ollama Health Check",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2500,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://comfyui:8188/system_stats",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2272,
        32
      ],
      "id": "e631e3bb-a721-4e7d-ba09-486f61c25353",
      "name": "ComfyUI Health Check",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d1017fe2-1f5d-44f2-8a46-8d24ed7f6ecf",
              "leftValue": "={{ $('ComfyUI Health Check').item.json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2080,
        32
      ],
      "id": "f2242015-9607-4437-a200-63d65a61130a",
      "name": "Handle ComfyUI Health Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"llama3.2:latest\",\n  \"prompt\": \"Answer in only one word - hi\",\n  \"stream\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -816,
        32
      ],
      "id": "04d8e475-30fa-4774-94c5-773f269d7ccb",
      "name": "Ollama Model Warmup"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "69eba154-de85-424c-a34f-af9717554da3",
              "leftValue": "={{ $('Ollama Health Check').item.json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1008,
        32
      ],
      "id": "4b6f1ddc-0b39-4575-bab8-7842c24ffe68",
      "name": "Handle Ollama Health Error"
    },
    {
      "parameters": {
        "errorMessage": "Stopping Intentionally"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1312,
        2096
      ],
      "id": "367afaba-0891-4398-8b61-b7be29b66f2c",
      "name": "Workflow End"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Role\nYou are a strategic YouTube SEO specialist who understands search intent, content indexing, niche positioning, and algorithm behavior. You think structurally before generating metadata, exploring multiple keyword clusters internally and selecting the strongest SEO-aligned set.\n\n## Goal\nGenerate up to 5 highly relevant YouTube hashtags based on:\n- Title: {{ $('Validate Script Structure').item.json.title }}\n- Story & Quote: {{ $('Validate Script Structure').item.json.script }}\n- Theme / Category: {{ $('Video Metadata').item.json.Theme }}\n\n## Instructions\n\n1. Internally apply structured reasoning:\n   - Generate 2–3 possible hashtag clusters aligned with the video's topic and emotional core.\n   - Evaluate each cluster for:\n     • Search intent alignment\n     • Niche clarity\n     • Evergreen relevance\n     • Specificity over generic virality\n   - Select the strongest-performing cluster.\n   - Do not reveal this reasoning in the final output.\n\n2. Hashtag generation rules:\n   - Maximum 5 hashtags total.\n   - Each hashtag must be directly relevant to the video’s content.\n   - Avoid generic tags like #viral, #fyp, #trending unless they are contextually justified.\n   - Prioritize searchable, evergreen, niche-defining keywords.\n   - Avoid repeating words unnecessarily across hashtags.\n   - Do not overstuff or create long unnatural hashtag phrases.\n\n3. Structure:\n   - 1 primary hashtag (strongest niche-defining term).\n   - Up to 4 secondary hashtags (supporting search intent and thematic depth).\n\n4. Output rules:\n   - Output ONLY valid JSON.\n   - No explanations.\n   - No formatting outside JSON.\n   - No markdown.\n   - No emojis.\n\n## Output Format\n{\n  \"primary_hashtag\": \"#example\",\n  \"secondary_hashtags\": [\n    \"#example2\",\n    \"#example3\",\n    \"#example4\",\n    \"#example5\"\n  ]\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1776,
        656
      ],
      "id": "97092741-4fa7-4d75-a1d0-8e464c51f522",
      "name": "Hashtag Agent",
      "retryOnFail": false,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list",
          "cachedResultName": "llama3.2:latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1776,
        864
      ],
      "id": "8443b00d-292a-444f-9761-9bcb50bf879d",
      "name": "LLM – Hashtag Generator",
      "credentials": {
        "openAiApi": {
          "id": "6r23Cbl9kYXbEbV4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a61f2ef5-b45e-4d31-8ad6-7d379c12a023",
              "leftValue": "={{ $('Hashtag Agent').item.json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1456,
        656
      ],
      "id": "046d9e02-066f-484b-80a6-93a87f459c23",
      "name": "Handling Hashtag Prompts Generation Error"
    },
    {
      "parameters": {
        "jsCode": "// Parse the model output\nconst parsed = JSON.parse(items[0].json.output);\n\n// Validate primary hashtag\nif (!parsed.primary_hashtag || typeof parsed.primary_hashtag !== \"string\") {\n  throw new Error(\"Primary hashtag is missing or invalid.\");\n}\n\n// Validate secondary hashtags count\nif (!Array.isArray(parsed.secondary_hashtags)) {\n  throw new Error(\"Secondary hashtags must be an array.\");\n}\n\nif (parsed.secondary_hashtags.length !== 4) {\n  throw new Error(\"Secondary hashtags must contain exactly 4 items.\");\n}\n\n// Combine all hashtags for duplicate check\nconst allHashtags = [\n  parsed.primary_hashtag,\n  ...parsed.secondary_hashtags\n];\n\n// Normalize for duplicate detection\nconst normalized = allHashtags.map(tag =>\n  tag.trim().toLowerCase()\n);\n\n// Check duplicates\nconst unique = new Set(normalized);\n\nif (unique.size !== normalized.length) {\n  throw new Error(\"Duplicate hashtags detected (case-insensitive).\");\n}\n\n// If everything is valid, return clean structured output\nreturn [\n  {\n    json: {\n      primary_hashtag: parsed.primary_hashtag.trim(),\n      secondary_hashtags: parsed.secondary_hashtags.map(tag => tag.trim())\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        656
      ],
      "id": "0d346b3c-7a07-4ec3-bf0d-68b98a060628",
      "name": "Validate Hashtag Structure"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "341c7f87-b926-485e-a223-38237fe93350",
              "leftValue": "={{ $('Hashtag Agent').item.json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1072,
        656
      ],
      "id": "7358f450-7e09-49ee-9e9e-3f1f098fe8eb",
      "name": "Retry - Hashtag Generation"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Timer Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Description Agent": {
      "main": [
        [
          {
            "node": "Retry – Description Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Into Sheets": {
      "main": [
        [
          {
            "node": "Fill Video Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timer Start": {
      "main": [
        [
          {
            "node": "Docker - Start ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fill Video Metadata": {
      "main": [
        [
          {
            "node": "Workflow End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generation Prompts": {
      "main": [
        [
          {
            "node": "Handling Image Prompts Generation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separate Image Prompts": {
      "main": [
        [
          {
            "node": "Validate: Img Prompts = No. of Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Image URLs": {
      "main": [
        [
          {
            "node": "Validate Image Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Info": {
      "main": [
        [
          {
            "node": "Clean Image URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate: Img Prompts = No. of Images": {
      "main": [
        [
          {
            "node": "Retry – Prompt Count Mismatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handling Image Prompts Generation Error": {
      "main": [
        [
          {
            "node": "Image Generation Prompts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Separate Image Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voiceover": {
      "main": [
        [
          {
            "node": "Define Subtitle Typography",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Burn Subtitles": {
      "main": [
        [
          {
            "node": "Preview Final Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Subtitle Style": {
      "main": [
        [
          {
            "node": "Generate Subtitles (Word by Word)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Subtitles (Phrase by Phrase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM – Script Generator": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Script",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM – Description Generator": {
      "ai_languageModel": [
        [
          {
            "node": "Description Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM – Image Prompt Generator": {
      "ai_languageModel": [
        [
          {
            "node": "Image Generation Prompts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait – Image Generation Cooldown": {
      "main": [
        [
          {
            "node": "Get Image Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait – Safety Delay Before Render": {
      "main": [
        [
          {
            "node": "Fetch Generated Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docker - Start ComfyUI": {
      "main": [
        [
          {
            "node": "ComfyUI Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docker - Start Kokoro": {
      "main": [
        [
          {
            "node": "Docker - Start Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docker - Start Ollama": {
      "main": [
        [
          {
            "node": "Ollama Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docker - Start Whisper": {
      "main": [
        [
          {
            "node": "Video Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docker - Stop Ollama": {
      "main": [
        [
          {
            "node": "Generate Scene Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docker - Stop Kokoro": {
      "main": [
        [
          {
            "node": "Create Base Video (Images Only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docker - Stop Whisper": {
      "main": [
        [
          {
            "node": "Burn Subtitles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Safe Filename": {
      "main": [
        [
          {
            "node": "Description Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script": {
      "main": [
        [
          {
            "node": "Handle Script Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Script JSON": {
      "main": [
        [
          {
            "node": "Generate Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Safe Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Script Errors": {
      "main": [
        [
          {
            "node": "Generate Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Script Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Script Structure": {
      "main": [
        [
          {
            "node": "Fix Script JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Scene Images": {
      "main": [
        [
          {
            "node": "Restart Flow on Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Generated Images": {
      "main": [
        [
          {
            "node": "Save Images to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Images to Disk": {
      "main": [
        [
          {
            "node": "Docker - Stop ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Image Count": {
      "main": [
        [
          {
            "node": "Wait – Safety Delay Before Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voiceover Audio": {
      "main": [
        [
          {
            "node": "Retry Flow on Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docker - Stop ComfyUI": {
      "main": [
        [
          {
            "node": "Generate Voiceover Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Voiceover to Disk": {
      "main": [
        [
          {
            "node": "Get Final Video Duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Flow on Failure": {
      "main": [
        [
          {
            "node": "Timer Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Voiceover to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restart Flow on Failure": {
      "main": [
        [
          {
            "node": "Timer Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait – Image Generation Cooldown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Image Duration": {
      "main": [
        [
          {
            "node": "Docker - Stop Kokoro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Base Video (Images Only)": {
      "main": [
        [
          {
            "node": "Add Audio to Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Audio to Video": {
      "main": [
        [
          {
            "node": "Apply Cinematic Effects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Video Duration": {
      "main": [
        [
          {
            "node": "Calculate Image Duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Metadata": {
      "main": [
        [
          {
            "node": "Prepare Font File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Subtitles (Word by Word)": {
      "main": [
        [
          {
            "node": "Save Subtitles to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Subtitles (Phrase by Phrase)": {
      "main": [
        [
          {
            "node": "Save Subtitles to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Subtitles to Disk": {
      "main": [
        [
          {
            "node": "Docker - Stop Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preview Final Render": {
      "main": [
        [
          {
            "node": "Into Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry – Description Generation": {
      "main": [
        [
          {
            "node": "Description Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hashtag Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry – Prompt Count Mismatch": {
      "main": [
        [
          {
            "node": "Image Generation Prompts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Docker - Stop Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warm-Up – ComfyUI": {
      "main": [
        [
          {
            "node": "Docker - Start Kokoro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait – ComfyUI Model Ready": {
      "main": [
        [
          {
            "node": "Warm-Up – ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Cinematic Effects": {
      "main": [
        [
          {
            "node": "Transcribe Voiceover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Subtitle Typography": {
      "main": [
        [
          {
            "node": "Select Subtitle Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Font File Path": {
      "main": [
        [
          {
            "node": "Check Font Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Font Exists": {
      "main": [
        [
          {
            "node": "Handle Font not Found Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Font not Found Error": {
      "main": [
        [
          {
            "node": "Font Doesn't Exist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Health Check": {
      "main": [
        [
          {
            "node": "Handle Ollama Health Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI Health Check": {
      "main": [
        [
          {
            "node": "Handle ComfyUI Health Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle ComfyUI Health Error": {
      "main": [
        [
          {
            "node": "ComfyUI Health Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait – ComfyUI Model Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Ollama Health Error": {
      "main": [
        [
          {
            "node": "Ollama Health Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ollama Model Warmup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model Warmup": {
      "main": [
        [
          {
            "node": "Docker - Start Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM – Hashtag Generator": {
      "ai_languageModel": [
        [
          {
            "node": "Hashtag Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Hashtag Agent": {
      "main": [
        [
          {
            "node": "Handling Hashtag Prompts Generation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handling Hashtag Prompts Generation Error": {
      "main": [
        [
          {
            "node": "Hashtag Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Hashtag Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Hashtag Structure": {
      "main": [
        [
          {
            "node": "Retry - Hashtag Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry - Hashtag Generation": {
      "main": [
        [
          {
            "node": "Hashtag Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Generation Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "8fcba9e1-3737-4086-be94-b187056c3c8c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e67e3fbd94df768886ac99225e14342a6b96a142786c8dbab267e3e93b680481"
  },
  "id": "wQrnBGAz9bXY5kPq",
  "tags": []
}